/* Global Styles */
:root {
    --aqua:#A8DADC;
    --deep-blue:#1E2331;
    --gray-blue:#404B69;
    --accent:#E63946;
    --bg-white:#f5f5f5;
    --white:#fff;
    
    --app-max-width:1440px;
    --card-shadow:0px 4px 6px 0px rgba(29, 53, 87, 0.10);
}

h1,h2,h3, a{
    font-family: "Open Sans", sans-serif;
}

h1 {
    font-size: 36px;
    font-weight:700;
}

h2{
    font-size:18px;
    font-weight:500;
}

h3 {
    font-weight:16px;
    font-weight:700;
}

p, figure, button {
    font-family:"Roboto", sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color:var(--bg-white);
}

figure:hover{
    cursor:default;
}


/* **************************************************************************** */
/* Navigation/Top Bar */
nav {
    display:flex;
    padding: 24px 40px;
    align-items:center;
    justify-content: center;
    background:var(--aqua);
    position:fixed;
    width:100%;
    z-index:999;
}


@media (max-width:360px) {
    #logo {
        display:none;
    }
}

nav ul {
    display:flex;
    gap:44px;
}

nav ul li {
    display:inline;
}

nav ul li a {
    text-decoration:none;
    font-size:16px;
    font-weight:600;
    color:var(--deep-blue);
}

/* **************************************************************************** */
/* About Me Section  */

#about-me {
    background:var(--deep-blue);
    color: var(--white);
    padding: 84px 40px 0px 40px;
    display:flex;
    justify-content: center;

}

#about-me-content{
    max-width:var(--app-max-width);
    align-items: center;
    justify-content:space-around;
    gap:80px;
    display:flex;
}

#left {
    display:flex;
    flex-direction: column;
    gap:24px;
    line-height:1.5;
    max-width:1000px;
}

#left .about-me-content{
    gap:16px;
}

#left .social-group {
    display:flex;
    gap:24px;
    font-size:36px;
}

#left .social-group a{
    color:var(--aqua);
}

#left .social-group a:hover{
    color:var(--aqua);
    transform:rotate(10deg);
}


/* Right Section */
#right{
    display:flex;
}

/* Figure/Tags (Web Dev/UIUX Design) */

#about-me figure {
    background: var(--gray-blue);
    color:var(--white);
    display: inline-flex;
    padding: 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    font-size:14px;
    z-index:3;
}

#about-me figcaption{
    font-weight:500;
}

#figure-group{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:flex-start;
    position:relative;
    left:-100px;
    flex:0 0 auto;
}

@media (max-width:985px){
    #figure-group{
        display:none;
    }
}

#fig-design{
    position:relative;
    left:40px;
}


/* **************************************************************************** */
/* My Work Cards  */

#my-work{
    padding:24px;
    max-width:var(--app-max-width);
    margin:0 auto;
}

#featured {
    margin-top:24px;
}

.work-card{
    background-color: var(--white);
    border-radius:8px;
    box-shadow: var(--card-shadow);
    padding:24px;
    display:flex;
    flex-direction:column;
    gap:8px;
    flex:1 1 40%;
}

.work-card h2 {
    font-weight:700;
}

.work card p {
    font-size:14px;
}

.work-card img{
    width:100%;
}

#small-card-container{
    margin-top:16px;
    display:flex;
    flex-wrap:wrap;
    gap:16px;
}

.work-card button {
    padding:12px;
    background-color: var(--aqua);
    color:var(--deep-blue);
    border-radius:8px;
    border-style: none;
    font-weight:500;
    transition: background-color 500ms;
    box-shadow: var(--card-shadow);
}

.work-card button:hover{
    cursor:pointer;
    background-color:#8ec6c8;
    transition: background-color 500ms;
}

.card-footer {
    display:flex;
    justify-content:space-between;
    align-items: center;
}

.card-footer figure {
    border:1px solid var(--deep-blue);
    border-radius:20px;
    padding:4px 16px;
    display:flex;
    align-items: center;
}

.card-footer figure figcaption{
    font-size:14px;
    font-weight:500;
}

.tag-group{
    display:flex;
    gap:4px;
}
